.benefits {
  @media (min-width: $desktop-width) {
    box-shadow: 0 4px 4px rgba($color-black, 0.25);
  }
}

.benefits__heading {
  padding: 32px 0 19px 0;

  @media (min-width: $tablet-width) {
    margin: 0 124px;
    padding: 47px 0 41px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 357px;
  }
}

.benefits__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
