.button {
  display: inline-block;
  max-width: 100%;
  padding: 16px 49px 16px 49px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: inherit;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-seagull;
  border: 0;
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    color: rgba($color-white, 0.3);

    background-color: $color-shakespeare-tint;
  }

  &:disabled {
    background-color: $color-whisper-dark;
  }

  &--small-text {
    font-size: 18px;
  }

  &--icon {
    padding: 16px 0 16px 0;
  }
}
