.button {
  display: block;
  max-width: 100%;
  padding: 17px 0 12px 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;

  background-color: $color-seagull;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    color: rgba($color-white, 0.3);

    background-color: $color-shakespeare-tint;
  }
}
