.form {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.form__fieldset {
  position: relative;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 22px 0 8px 0;

  border: 0;

  &:first-child {
    padding: 0 0 24px 0;

    @media (min-width: $tablet-width) {
      padding: 16px 0 24px 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: -20px;

    width: 100vw;
    height: 1px;

    background-color: $color-gainsboro;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0 24px 0;

    border-top: 1px solid $color-gainsboro;
  }

  &--half {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: calc(50% - 28px);
      margin-bottom: 39px;

      border-top: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 46px;
    }
  }

  &--half:nth-child(even) {
    @media (min-width: $tablet-width) {
      padding-left: 28px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 51px;
    }
  }

  &--half:first-child {
    @media (min-width: $tablet-width) {
      position: relative;

      padding-right: 28px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 51px;
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: -55px;
        right: 0;

        height: calc(100% + 40px);

        border-right: 1px solid $color-gainsboro;
      }
    }
  }
}

.form__legend {
  float: left;
  width: 100%;
  margin: 24px auto 20px auto;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    float: none;
    width: 400px;
    margin: 24px auto 13px auto;
    padding: 0 45px;

    font-size: 21px;
  }

  .form__fieldset--half & {
    width: auto;

    @media (min-width: $tablet-width) {
      margin: 0 0 11px 0;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 12px 0;
      padding: 0;
    }
  }
}

.form__group {
  display: flex;
  flex-direction: column;

  gap: 16px;

  @media (min-width: $tablet-width) {
    display: grid;
    width: 100%;

    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &--radio {
    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
      padding: 0 36px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 17px;
      margin-bottom: 51px;
      padding: 0 54px;

      gap: 63px;
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      margin-bottom: 18px;
      padding: 0 84px;

      column-gap: 31px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 30px;
      margin-bottom: 64px;
      padding: 0 45px;

      gap: 64px;
    }
  }
}

.form__submit {
  width: 100%;
  margin-top: 5px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-top: 0;
    margin-bottom: 77px;
  }

  @media (min-width: $desktop-width) {
    max-width: 384px;
    margin-left: 96px;
  }
}

.form__hint {
  display: block;
  margin-bottom: 31px;

  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: rgba($color-night-rider, 0.6);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 23px;

    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 96px;
  }
}
