.form {
  padding: 0 20px;
}

.form__fieldset {
  margin: 0;
  padding: 0;

  border: 0;
}

.form__legend {
  margin: 24px auto 20px auto;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.form__submit {
  width: 100%;

  text-align: center;
}

.form__hint {
  display: block;

  text-align: right;
  color: rgba($color-night-rider, 0.6);
  text-transform: uppercase;
}
