.gallery {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.gallery__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  &--large {
    grid-column: 1 / -1;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &::before,
  &:last-of-type::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100vw;
    height: 1px;

    background-color: $color-gainsboro;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.gallery__figure {
  margin: 0;

  @media (min-width: $tablet-width) {
    background-color: $color-white-smoke;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.gallery__image {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 24px;

  object-fit: cover;

  .gallery__item--large & {
    max-height: 400px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 0;
  }
}

.gallery__figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 25px;

  gap: 11px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px 20px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    z-index: 1;

    color: $color-white;

    background-color: rgba($color-black, 0.3);
  }
}

.gallery__subtitle {
  margin: 0;

  text-transform: uppercase;
}

.gallery__author {
  width: 100%;
  margin-bottom: 11px;
}

.gallery__like-button {
  display: flex;
  align-items: center;
  padding: 10px;

  font-weight: 700;

  background-color: transparent;
  border: 0;
  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.1s ease;

  gap: 9px;

  @media (min-width: $desktop-width) {
    color: $color-white;
  }

  &:hover {
    color: rgba($color-black, 0.6);

    background-color: rgba($color-black, 0.2);

    @media (min-width: $desktop-width) {
      color: rgba($color-white, 0.9);

      background-color: rgba($color-black, 0.5);
    }
  }

  &:active {
    transform: translateY(2px);
  }
}

.gallery__like-icon path {
  @media (min-width: $desktop-width) {
    opacity: 1;

    fill: $color-white;
  }
}
