.heading {
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--compact &__title {
    margin-bottom: 11px;
  }
}

.heading__title {
  margin-top: 0;
  margin-bottom: 21px;
  max-width: 270px;

  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  &--large {
    font-size: 21px;
    margin-bottom: 6px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
    }
  }
}

.heading__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  max-width: 275px;
  color: $color-night-rider;
}
