.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 389px;

  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--inner {
    height: 160px;

    background-position: bottom;
  }
}
