.main-footer {
  display: grid;
  align-items: center;
  padding: 33px 82px;

  gap: 30px;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  justify-items: center;

  @media (min-width: $tablet-width) {
    padding: 36px 60px;

    gap: 113px;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px;

    gap: 269px;
  }
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
}

.main-footer__copyright {
  display: flex;
  align-items: center;

  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;

  transition: color 0.3s ease;

  gap: 12px;

  &:hover {
    color: $color-seagull;
  }

  &:active {
    color: $color-pink-swan;
  }
}
