.main-footer {
  display: grid;
  align-items: center;
  padding: 28px 0 32px 0;

  grid-template-rows: repeat(3, 1fr);
  justify-items: center;

  @media (min-width: $tablet-width) {
    padding: 36px 60px;

    gap: 113.5px;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px;

    gap: 269.5px;
  }
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
}

.main-footer__copyright {
  display: flex;
  align-items: center;

  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;

  transition: color 0.3s ease;

  gap: 12px;

  &:hover {
    color: $color-seagull;
  }

  &:active {
    color: $color-pink-swan;
  }
}
