.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 0;

  gap: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
}

.main-footer__copyright {
  display: flex;
  align-items: center;

  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;

  transition: color 0.3s ease;

  gap: 12px;

  &:hover {
    color: $color-seagull;
  }

  &:active {
    color: $color-pink-swan;
  }
}
