.nav-button {
  position: relative;

  width: 23px;
  height: 23px;
  margin-right: 20px;

  background-color: transparent;
  border: 0;
  cursor: pointer;

  .no-js & {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover &__icon,
  &:hover &__icon::before,
  &:hover &__icon::after {
    background-color: rgba($color-seagull, 0.6);
  }

  &:active &__icon,
  &:active &__icon::before,
  &:active &__icon::after {
    background-color: rgba($color-seagull, 0.3);
  }
}

.nav-button__icon {
  top: calc(50% - 2px);

  transform: translateY(-50%, -50%);

  &,
  &::before,
  &::after {
    position: absolute;
    left: 0;
    z-index: 3;

    display: inline-block;
    width: 23px;
    height: 4px;

    background-color: $color-seagull;

    transition: transform 0.3s ease-in, background-color 0.3s ease-in;
  }

  &::before,
  &::after {
    content: "";
  }

  &::before {
    top: 9px;
  }

  &::after {
    top: -9px;
  }
}

.is-nav-open .nav-button__icon {
  background-color: rgba($color-white, 0);

  &::before,
  &::after {
    top: 0;

    background-color: $color-white;
  }

  &::before {
    transform: rotate(135deg);
  }

  &::after {
    transform: rotate(-135deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: rgba($color-white, 0.6);
  }

  &:active::before,
  &:active::after {
    background-color: rgba($color-white, 0.3);
  }
}
