.socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 6px;
}

.socials__item {
  position: relative;
}

.socials__link {
  display: block;
  width: 48px;
  height: 48px;

  &--vk::before,
  &--telegram::before,
  &--youtube::before {
    position: absolute;
    top: calc(50% + 3px);
    left: 50%;

    transform: translate(-50%, -50%);

    transition: opacity 0.3s ease;
  }

  &--vk::before {
    content: url("../img/icons/icon-vk.svg");
  }

  &--telegram::before {
    content: url("../img/icons/icon-telegram.svg");
  }

  &--youtube::before {
    content: url("../img/icons/icon-youtube.svg");
  }

  &--vk:active::before,
  &--telegram:active::before,
  &--youtube:active::before {
    opacity: 0.3;
  }
}
