.video {
  padding: 17px 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 56px 60px 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 200px 42px 200px;
  }
}

.video__heading {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 49px;
  }
}

.video__player {
  position: relative;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }
}

.video__player-preview {
  width: 100%;
  margin: auto;
}

.video__player-control {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 48px;
  height: 54px;

  background-color: rgba($color-white, 0.7);
  box-shadow: 0 4px 4px rgba($color-black, 0.25);
  transform: translate(-50%, -50%);

  transition: background-color 0.2s ease-in, transform 0.2s ease-in;

  clip-path: polygon(0 0, 100% 50%, 0 100%);

  &:hover {
    background-color: $color-white;
  }

  &:active {
    transform: translate(-50%, -48%);
  }
}
