$color-black: #000000;
$color-black-tint: #010101;
$color-black-shadow: #000101;
$color-night-rider: #333333;
$color-roman-coffee: #766357;
$color-seagull: #81b3d2;
$color-shakespeare: #669ec0;
$color-shakespeare-tint: #5496bd;
$color-white: #ffffff;
$color-whisper: #eeeeee;
$color-whisper-dark: #e7e5e5;
$color-white-smoke: #f2f2f2;

$tablet-width: 768px;
$desktop-width: 1200px;
